@import "./styles/pre.postcss";
@import "./styles/code.postcss";
@import "./styles/kbd.postcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-background-color);
}
