.pre {
    background-color: var(
        --default-pre-tag-background-color,
        theme("backgroundColor.slate.900")
    );
    color: white;
    padding: var(--default-pre-tag-padding-y, theme("padding.2"))
        var(--default-pre-tag-padding-x, theme("padding.4"));
    border-radius: var(
        --default-pre-tag-border-radius,
        theme("borderRadius.md")
    );
}
